ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #686868;
}

li {
    float: left;
}

li a, li button {
    display: block;
    padding: 20px;
    font-size: 20px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.dropbtn {
    background-color: #686868;
    border: #686868;
    margin-top: 20px;
    font-weight: bold;
}

li a.textonly {
    padding-top: 40px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

body {
    background-color: rgb(167, 167, 167);
}

h1 {
    margin: 60px;
}

p {
    margin: 60px;
}

.dropdown {
    position: absolute;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    background-color: #686868;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 185px;
    margin-top: -20px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-weight: bold;
}

  
.dropdown a:hover {background-color: rgb(167, 167, 167);}
  
.show {display: block;}