body {
    margin: 40px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
    min-width: 1200;
    border-radius: 20px;
}

h1 {
    margin: 0px 0px 0px 0px;
    padding: 84.797 0px 84.797 0px;
    text-align: center;
    border-radius: 40px;
}

#lst {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -5%;
}

h2 {
    text-align: center;
}

#menuli {
    padding: 10 20 10 20;
    margin: 0 2% 0 2%;
    display: inline;
    font-size: 25;
    border: 0px solid #FFFFFF;
    border-radius: 40px;
}

#menuliul{
    list-style: none;
}

#main {
    margin-left: 40px;
    margin-right: 40px;
    height: 315px;
    border-radius: 40px;
}

p {
    margin-top: 100;
    margin-left: 40;
    margin-right: 40;
    text-align: center;
    display: none;
}

.resumeliitem {
    padding: 5px 5px 5px 5px;
    margin: 10px 100px 10px 100px;
    border-radius: 30px;
}


.hobbieliitem {
    padding: 5px 5px 5px 5px;
    margin: 10px 100px 10px 100px;
    border-radius: 30px;
}

.comserveliitem {
    padding: 5px 5px 5px 5px;
    margin: 10px 100px 10px 100px;
    border-radius: 30px;
}